<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" type="image/png" href="/static/images/favicons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/static/images/favicons/favicon-16x16.png" sizes="16x16">
  <link rel="shortcut icon" href="/static/images/favicons/favicon.ico">

  {{#if title}}
    <title>{{title}} - District Finder</title>
  {{else}}
    <title>District Finder</title>
  {{/if}}

  <meta name="description" content="Find your districts">
  <link rel="stylesheet" href="/static/stylesheets/app.css">
</head>

<body>

  {{{body}}}

  <footer class="grid wrapper">
    <div class="copyright">Contribute on <a href="https://github.com/sketch-city/district-finder">Github</a></div>
    <div class="ta-right">A <a href="http://sketchcity.org/">Sketch City</a> project</div>
  </footer>
</body>
</html>
