<table class="table">

  <thead>
    <tr>
      <th class="table-number">ID</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    {{#each regionTypes}}
      <tr>
        <td class="table-number">{{id}}</td>
        <td>{{name}}</td>
      </tr>
    {{/each}}
  </tbody>

</table>
